<div class="container">
    <div class="card">
        <div class="card-header">
            <div>
                <table class="table"><thead class="thead-inverse"><td>
                    <i class="fa fa-cubes" style="font-size:xx-large">Blocks</i></td><td align="right">
                    <p align="right"><a class="btn btn-primary btn-xs "  href="/#/blocks/0">Last</a> 
                    <a class="btn btn-primary btn-xs" disabled="disabled" href="/#/blocks/0">Next</a> 
                    <span style="padding: 2px 4px 4px 3px; border: 1px solid #D4D4D4; line-height: 30px; background-color: #EAEAEA; margin-top: 2px; height: 2px;">Page <b>{{ totalpages }}</b> of <b>{{ totalpages }}</b></span>
                    <a class="btn btn-default btn-xs logout" href="/#/blocks/{{ pageIdplus }}">Prev</a> 
                    <a class="btn btn-default btn-xs logout" href="/#/blocks/{{ totalpages }}">First</a>
                    </p>
                    </td></thead>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <p class="card-text">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-inverse">
                            <td>
                                <strong>Block #</strong>
                            </td>
                            <td>Miner</td>
                            <td>Difficulty</td>
                            <td>Block Hash</td>
                            <td>
                                Size
                            </td>
                            <td>
                                Date
                            </td>
                            <td>
                                # of TXs
                            </td>
                            <td>
                                Gas used
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="block in blocks" class="animated fadeIn">
                                <td>
                                    <a href="/#/block/{{ block.number }}">
                                        <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ block.number }}</span>
                                    </a>
                                </td>
                                <td><a href="/#/address/{{ block.miner }}"><span class="btn btn-sm btn-success">{{ block.miner | truncate : 12 }}</span></a></td>
                                <td style="vertical-align:middle;">{{ block.difficulty | diffFormat }}</td>
                                <td style="vertical-align:middle;"><a href="/#/block/{{ block.hash }}">{{ block.hash }}</a></td>
                                <td style="vertical-align:middle;">
                                    {{ block.size | sizeFormat }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ block.timestamp * 1000 | date:'medium' }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ block.transactions.length }}
                                </td>
                                <td style="vertical-align:middle;">
                                    {{ block.gasUsed | gasFormat }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        </div><br/>
        <div class="card">
            <div class="card-header">
                <div>
                <table class="table">
                    <thead class="thead-inverse">
                        <td>
                            <i class="fa fa-exchange" style="font-size:xx-large">Transactions in last block {{ blocknumber +1}} </i>
                        </td>
                        <td align="right">
                            <p align="right">
                            <a class="btn btn-primary btn-xs "  href="/#/txs/{{pageIdplus}}">Last</a> 
                            <a class="btn btn-primary btn-xs" disabled="disabled" href="/#/txs/0">Next</a> 
                            <a class="btn btn-default btn-xs logout" href="/#/txs/{{ blocknumber }}">Prev</a> 
                            </p>
                        </td>
                    </thead>
                </table>
            </div>
            </div>
        <div class="table-responsive">
    <p class="card-text">        
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>TX Hash</strong>
            </td>
            <td>Block #</td>
            <td>From</td>
            <td>To
            </td>
            <td>
                Gas Used
            </td>
            <td>
                Value
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="tx in recenttransactions track by $index-async" class="animated fadeIn">

              <td style="vertical-align:middle;"><a href="/#/tx/{{ tx.hash }}">{{ tx.hash || "" | truncate : 45 }}</a></td>
                <td style="vertical-align:middle;">
                    <a href="/#/block/{{ tx.blockNumber }}">
                        {{ tx.blockNumber || "" }}
                    </a>
                </td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.from }}">{{ tx.from || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.to }}">{{ tx.to || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;">
                    {{ tx.gas | gasFormat }}
                </td>
                <td style="vertical-align:middle;">
                    {{ tx.value | BigNum }}
                </td>
            </tr>
        </tbody>
    </table>
    </p>
    </div>
</div>
</div>
